html, body {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0;
    margin: 0;
    text-align: center;
}

.page {
    margin: 0 auto;
    width: 1100px;
    background-color: white;
    min-height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    font-family: 'Roboto', sans-serif !important;
    text-align: left;
    display: inline-block;
}
.inner-page {
    padding: 45px;
    float: left;
}


.card {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    margin-bottom: 40px;
    float: left;
}
.inner-card {
    padding: 35px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    float: left;
    width: 93%;
}

.title {
    float: left;
    width: 100%;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 30px;
}

.description {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.json-renderer {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.mdl-chip {
    width: 100%;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
}

.mdl-chip:hover {
    background-color: #cecece;
    cursor: pointer;
}

.type-string {
    color: green;
    float: right;
    display: block;
}
.type-json-object {
    color: #0059ab;
    float: right;
    display: block;
}
.type-boolean {
    color: #e29200;
    float: right;
    display: block;
}

.mdl-chip__text {
    width: 95%;
}


.status-testing {
    color: rgba(255, 0, 0, 0.94);
    font-size: 12px;
}

.status-tested-working {
    color: rgba(100, 181, 92, 0.94);
    font-size: 12px;
}


.comment {
    margin-top: 15px;
    color: gray;
    font-size: 13px;
}

.json-renderer-shift-up {
    margin-top: 0;
}

.collapsed-item {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: max-height 2000ms, padding 1200ms;
    -moz-transition: max-height 2000ms, padding 1200ms;
    -o-transition: max-height 2000ms, padding 1200ms;
    transition: max-height 2000ms, padding 1200ms;
}











